---
title: "this is the first blog post of this page"
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Blog post</title>
    </head>
    <body>
        <nav class="nav">
			<ul>
				<a href="/">Home</a>
				<a href="/about/">About Me</a>
                <a href="/blog/">Blog</a>
			</ul>
		</nav>
  
  <h1>My Astro learning blog</h1>
  

  <p>I am working through Astro's introductory tutorial. This is the second page on my website, and it's the first one I built myself!</p>

  <p>This is where i will post my journey learning Astro</p>
</body>
</html>
